.highlight{
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    padding-left: 5px;
}

.key{
    color: #48484c
}

.val{
    color: red;
}